<div class="modal fade" tabindex="-1" role="dialog" id="detailModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">增加消费</h4>
      </div>
      <div class="modal-body">
        <div class="box">
          <div class="box-header">
            <div class="pull-left">
              <span class="label  label-primary"><i class="fa fa-credit-card">卡号</i><%=member.cid%></span>
              <span class="label label-success">会员名称<i class="fa fa-male"></i><b><%=member.name%></b></span>
              <span class="label label-info"><i class="fa fa-phone">联系电话</i><%=member.phone%></span>

              <span class="label label-danger">
                卡内余额<%=member.blance%>
              </span>
            </div>
          </div>
          <div class="box-body">
            <div class="row">
              <%= simple_form_for MemberDetail.new(member_id:member.id),wrapper:"inline_form",remote:true do |f| %>
                  <div class="col-sm-4">
                    <%= f.label :per_pay %>
                  </div>
                  <div class="col-sm-8">
                    <%= f.input_field :per_pay %>
                    <%= f.hidden_field :member_id %>
                  </div>
                  <div class="col-sm-12 ">
                    <%= f.button :submit ,class:'btn btn-default btn-flat pull'%>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">消费历史记录</h3>
            <div class="box-tools pull-right">
              <!-- Buttons, labels, and many other things can be placed here! -->
              <!-- Here is a label for example -->

            </div><!-- /.box-tools -->
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped dataTable">
                  <thead>
                    <th>单次消费</th>
                    <th>单次充值</th>
                    <th>卡内余额</th>
                    <th>消费时间</th>
                  </thead>
                  <tbody>
                    <%-member.member_details.each do |detail|%>
                        <%=render partial:'detail_td',locals:{detail:detail}%>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- /.box-body -->
          <div class="box-footer">

          </div><!-- box-footer -->
        </div><!-- /.box -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <!--<button type="button" class="btn btn-primary">充值</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->