<div class="modal fade" tabindex="-1" role="dialog" id="detailModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">增加消费</h4>
      </div>
      <div class="modal-body">
        <div class="box">
          <div class="box-header">
            <div class="pull-left">
              <span class="label  label-primary"><i class="fa fa-credit-card">卡号</i><%=member.cid%></span>
              <span class="label label-success">会员名称<i class="fa fa-male"></i><b><%=member.name%></b></span>
              <span class="label label-info"><i class="fa fa-phone">联系电话</i><%=member.phone%></span>

              <span class="label label-danger" id="card_blance">
                 <%=member.blance%>
              </span>
            </div>
          </div>
          <div class="box-body">
            <div class="row">
              <%= simple_form_for MemberDetail.new(member_id:member.id),wrapper:"inline_form",remote:true do |f| %>
                  <div class="col-sm-4">
                    <%= f.label :per_pay %>
                  </div>
                  <div class="col-sm-8">
                    <%= f.input_field :per_pay %>
                    <%= f.hidden_field :member_id %>
                  </div>
                  <div class="col-sm-12 ">
                    <%= f.button :submit ,class:'btn btn-default btn-flat pull'%>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="box" id="detail_charge_history">
          <%=render partial: 'modal_detail_charge_history',locals: {member:member,page:page}%>
        </div><!-- /.box -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <!--<button type="button" class="btn btn-primary">充值</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->